Cartopy==0.24.1
cmocean==4.0.3
einops==0.8.1
matplotlib==3.10.6
numpy==2.3.3
pandas==2.3.2
pytorch_lightning==2.5.0.post0
pytorch_msssim==1.0.0
pytorch_wavelets @ git+https://github.com/relmonta/pytorch_wavelets.git@dev
PyYAML==6.0.2
PyYAML==6.0.2
scipy==1.16.2
seaborn==0.13.2
torch==2.6.0
tqdm==4.67.1
xarray==2025.1.2
